@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}


@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}


:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #E1E1E1;
  --basic-dark-grey: #666666; 
  --basic-extra-dark-grey: #444444;
  --basic-orange: #FB565A;
  --basic-red: #E74246;
  --basic-cherry: #D7373B; 
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-white: #FFFFFF; 

  --slide-controls-grey: #C1C1C1;
  --contact-grey: #D7DCDE;
  --contact-grey-hover: #B4B9BB;
  --toggle-grey: #ABABAB;
  --toggle-shadow-grey: #CFCFCF;
  --card-block-grey: #F2F2F2;
  --catalog-grey: #4D4D4D;
  --btn-up-down-active: #231F20;
  --btn-up-down: #A6A6A6;
  --btn-show-hover: #DFDFDF;
  --btn-show-active: #D5D5D5;
  --btn-active-grey: #DBDBDB;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: none;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.body button,
.catalog-body button {
  border: none;
}

.body button:focus,
.catalog-body button:focus,
.body button:visited,
.catalog-body button:visited {
  outline: none;
}

.body ul {
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--basic-light-grey);
}


.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
}


.site-navigation {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: 84px;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  font-weight: 500;
}

.main-header-logo[href]:hover {
  opacity: 0.7;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-page-active {
  border-bottom: 2px solid var(--basic-orange);
  padding-bottom: 12px;
}

.catalog-page-active {
  border-bottom: 2px solid var(--basic-orange);
  padding-bottom: 13px;
}

.catalog-body .catalog-page-active {
  padding-bottom: 17px;
}

.site-navigation a:link,
.cart a:link,
.site-navigation a:visited,
.cart a:visited {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart a:hover {
  color: var(--basic-orange);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.cart .cart-link {
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 2px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.slider {
  background-color: var(--basic-light-grey);
}

.slide {
  background-repeat: no-repeat;
}

.slide-smartphone {
  background-image: url("../img/slide1.png");
  background-color: var(--basic-light-grey);
  background-position: right 3px bottom 0;
}

.slide-computer {
  background-image: url("../img/slide2.png");
  background-color: var(--basic-light-grey);
  background-position: right 3px bottom 0;
}

.slide-tablet {
  background-image: url("../img/slide3.png");
  background-color: var(--basic-light-grey);
  background-position: right 3px bottom 0;
}

.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);

  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-top: 71px;
}

.slide-smartphone p {
  width: 400px;
}

.slide-computer .slogan,
.slide-tablet .slogan {
  width: 538px;
}

.slide-computer p,
.slide-tablet p {
  width: 416px;
}

.slider .container {
  position: relative;
}

.slides .slide {
  min-height: 423px;
}


.slide-smartphone p:nth-child(2) {
  margin-top: 27px;
  margin-bottom: 38px;
}


.slide-computer p:nth-child(2) {
  margin-top: 37px;
  margin-bottom: 27px;
}


.slide-tablet p:nth-child(2) {
  margin-top: 37px;
  margin-bottom: 26px;
}

.slide-controls {
  width: 88px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 536px;
  bottom: 96px;
}

.slide-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slide-controls .current {
  position: relative;
}

.slide-controls .current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 5px;
  top: 5px;
  border: 2px solid var(--slide-controls-grey);
  border-radius: 50%;
  box-sizing: border-box;
}

.slide {
  display: none;
}
.slide-current {
  display: block;
}


.btn {
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
}

.btn-slide {
  background-color: var(--basic-orange);
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 54px;
  padding-right: 54px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}

.btn-slide:hover {
  background-color: var(--basic-red);
}

.btn-slide:active {
  background-color: var(--basic-cherry);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.services {
  margin-top: 76px;
  margin-bottom: 80px;
}

.services-list {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  width: 1100px;
}

.services-list p {
  width: 260px;
}

.services-list a {
  font-weight: 500;
}

.service-item::before {
  content: "";
  background-repeat: no-repeat;
  padding-top: 146px;
  display: block;
}

.service-item-web::before {
  background-image: url("../img/illustration1.jpg");
  background-color: var(--basic-orange);
}

.service-item-apps::before {
  background-image: url("../img/illustration2.jpg");
  background-color: var(--basic-light-green);
}

.service-item-presentations::before {
  background-image: url("../img/illustration3.jpg");
  background-color: var(--basic-light-yellow);
}


.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 17px;
}

.service-item p {
  margin-top: 16px;
  margin-bottom: 32px;
}

.service-item a {
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 40px;
  display: inline-block;
  vertical-align: middle;
}

.service-link-orange {
  background-color: var(--basic-orange);
}

.service-link-green {
  background-color: var(--basic-light-green);
}

.service-link-yellow {
  background-color: var(--basic-light-yellow);
}

.service-link-orange:hover {
  background-color: var(--basic-red);
}

.service-link-green:hover {
  background-color: var(--basic-green);
}

.service-link-yellow:hover {
  background-color: var(--basic-yellow);
}

.service-link-orange:active {
  background-color: var(--basic-cherry);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-link-green:active {
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
  
.service-link-yellow:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.about {
  display: grid;
  grid-template-columns: 651px 360px;
  grid-template-rows: 246px auto;
  column-gap: 149px;
  padding-top: 40px;
  padding-bottom: 73px;
  position: relative;
}

.about-description {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 33px;
}

.about-logo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.about-services {
  margin: 0;
  padding: 0;
}


.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin-top: 3px;
  margin-bottom: 0;
}

.about-description p:last-child {
  width: 646px;
  margin-top: 33px;
}

.about-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.about-list {
  margin: 0;
  padding: 0;
}



.about-list li {
  position: relative;
  left: 36px;
  top: 0;
  margin-top: 23px;
}

.about-list li::before { 
  content: "";
  display: block;
  position: absolute;
  left: -36px;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: var(--basic-orange);
}

.about-subtitle-features {
  color: var(--basic-black);
  margin-left: 17px;
  margin-top: -2px;
}

.features-table {
  padding-top: 31px;
}

.features-table tr:first-child {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.features-table .percent-sign {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

.features-table tr:last-child {
  line-height: 18px;   
}

.features-percents td:nth-child(2) {
  padding-left: 15px;
}

.features-percents td:last-child {
  padding-left: 18px;
}

.features-items td {
  padding-top: 7px;
}

.features-items td:nth-child(2) {
  padding-left: 16px;
}

.features-items td:last-child {
  padding-left: 20px;
}


.about::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-light-grey);
  position: absolute;
  right: 0;
  top: 0;
}

.about::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-light-grey);
  position: absolute;
  right: 0;
  bottom: -4px;
}

.companies {
  position: relative;
  margin-bottom: 80px;
}

.companies::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-light-grey);
  position: absolute;
  right: 0;
  bottom: 0;
}

.companies-item {
  position: relative;
}

.companies-item::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
  position: absolute;
  right: 0;
  top: 18px;
}

.companies-item:first-child::after {
  right: 8px;
}

.companies-item:nth-child(2)::after {
  right: -2px;
}

.companies-item:nth-child(3)::after {
  right: -12px;
}

.companies-item:last-child::after{
  display: none;
}

.companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 34px;
  padding-bottom: 44px;
  padding-left: 0;
  justify-self: center;
}


.companies-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}


.companies-list a:hover {
  opacity: 1;
}

.companies-list a:active {
  opacity: 0.1;
}

.htmlacademy-logo {
  margin-right: 27px;
  margin-top: 17px;
}

.borodinski-logo {
  margin-right: 10px;
}

.pink-logo {
  margin-top: 19px;
  margin-left: 12px;
}

.mishka-logo {
  margin-top: 7px;
  margin-left: 31px;
}

.body .main-footer {
  padding-bottom: 68px;
}


.footer-contacts address {
  background: var(--basic-white);
  width: 319px;
  display: block;
  box-sizing: border-box;

  padding-top: 49px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 39px;
  margin-top: 54px;
  margin-bottom: 54px;
  
  line-height: 18px;
  color: var(--basic-dark-grey);
  font-style: normal;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 0;
}

.contacts-address {
  width: 230px;
  margin-top: 23px;
}

.contacts-phone {
  text-decoration: none;
  text-transform: none;
  color: var(--basic-dark-grey);
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}

.btn-contact {
  background-color: var(--basic-orange);
  border-radius: 3px;
  margin-top: 38px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 44px;
  padding-right: 44px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}

.btn-contact:hover {
  background-color: var(--basic-red);
}

.btn-contact:active {
  background-color: var(--basic-cherry);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
  width: 100%;
  position: relative;
}

.map-image {
  width: 100%;
  height: 416px;
  object-fit: cover;
  margin-top: 1px;
}

.map-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.footer-social {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 139px;
  margin-top: 9px;
}

.catalog-body .site-navigation {
  margin-top: 12px;
}

.catalog-body .footer-social {
  margin-top: 14px;
}

.catalog-body .cart {
  margin-top: 11px;
}

.social-pages {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  padding-left: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 53px;
}


.social-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 0;
  margin-top: 60px;
}

.social-info {
    line-height: 22px;
    color: var(--basic-extra-dark-grey);
    margin-top: 10px;
}

.btn-social {
  background: var(--basic-grey);
  height: 81px;
  width: 81px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-social:hover {
  background: var(--basic-red);
}

.btn-social:active {
  background: var(--basic-cherry);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-social:active .social-icon {
  opacity: 0.3;
} 

.contact-us {
  position: fixed;
  box-sizing: border-box;
  width: 960px;
  padding-left: 100px;
  padding-right: 80px;
  padding-top: 63px;
  padding-bottom: 84px;
  left: 50%;
  top: 50%;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 3;

  transform: translate(-50%, -50%);

  display: none;
}

.contact-us-form label {
  display: block;
}

.modal-close {
  right: 90px;
  top: 78px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  position: absolute;
}

.modal-close::before {
  content: "";
  position: absolute;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.modal-close:hover::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;
}

.btn-contact-us {
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 83px;
  padding-right: 83px;
  margin-top: 14px;
  background-color: var(--basic-orange);
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}


.btn-contact-us:hover {
  background-color: var(--basic-red);
}

.btn-contact-us:active {
  background-color: var(--basic-cherry);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.contact-us-description {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
} 

.contact-us label {
  font-weight: 700;
}

.contact-us input {
  width: 360px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid var(--contact-grey);
  border-radius: 3px;
}

.contact-us-text {
  resize: none;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--contact-grey);
  border-radius: 3px;
}

.contact-us input:hover,
.contact-us-text:hover {
  border: 2px solid var(--contact-grey-hover);
}

.contact-us input:focus,
.contact-us-text:focus {
  border: 2px solid var(--basic-black);
}

.contact-us input:focus::placeholder,
.contact-us-text:focus::placeholder {
  color: var(--basic-extra-dark-grey);
}

.contact-us input:invalid,
.contact-us-text:invalid {
  border: 2px solid var(--basic-red);
  color: var(--basic-red);
}


.contact-us-form {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 34px;
}

.text-container {
  grid-column: 1 / 3;
}


.catalog-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

.catalog-heading-container {
  background-color: var(--basic-light-grey);
  margin-bottom: 58px;
  
}

.catalog-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  margin-top: 0;
  padding-bottom: 108px;
  padding-top: 72px;
  text-align: center;
  
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.cost {
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-light-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--contact-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}


.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-extra-dark);
  border: none;
  border-radius: 5px;
  background: var(--basic-light-grey);

  text-align: center;
}

.price-controls input:focus {
  outline: none;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.price-controls input {
  -moz-appearance: textfield;
  appearance: textfield;
} 

.layout {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 29px;
  border: none;
}


.features {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  border: none;
}

.features ul,
.layout ul {
  padding: 0;
  margin: 0;
}

.features .caption,
.layout .caption {
  margin-bottom: 14px;
}


.filter-option {
  margin-bottom: 22px;
}


.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 36px;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}


.filter-input-checkbox + label:hover::before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
} 

.filter-input-checkbox:checked + label:hover::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}


.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
}


.filter-input-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio + label:hover::before {
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.filter-input-radio:checked + label:hover::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
}


.filter-input-radio:disabled  + label{
  color: rgba(40, 49, 54, 0.3);
}

.sort-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 48px;
}

.sort-block h3 {
  margin: 0;
}

.sort-options {
  display: flex;
  justify-content: space-between;
  margin-right: 3px;

}

.sort-list {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
  padding-left: 0;
}

.sort-list li {
  margin-right: 25px;
}

.sort-list button {
  padding: 0;
}


.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 30px;

  padding-left: 0;
}

.caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}


.btn-show {
  background-color: var(--basic-light-grey);
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 88px;
  padding-right: 89px;
  display: inline-block;
  vertical-align: middle;

  color: var(--basic-black);
  font-weight: 500;
}

.btn-show:hover {
  background-color: var(--btn-show-hover);
}

.btn-show:active {
  background-color: var(--btn-show-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.sort-list button {
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list button:active,
.sort-list .sort-active-btn {
  color: var(--basic-black);
}

.rub-sign {
  font-family: Arial, sans-serif;
}

.card-block {
  width: 358px;
  height: 578px;
  position: relative;

  display: inline-block;
  vertical-align: middle;
  background-color: var(--basic-white);
  font-size: 0;

  padding-top: 40px;
  background: var(--card-block-grey);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


.card-block:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.card-block::before {
  content: '⬤ ⬤ ⬤';
  font-size: 17px;
  letter-spacing: 2px;
  position: absolute;
  height: 40px;
  top: 0;
  left: -1px;
  background-color: var(--catalog-grey);
  width: calc(100% + 2px);
  padding: 5px;
  padding-top: 13px;
  padding-left: 16px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  opacity: 12%;
  color: var(--basic-white);
}

.card-block:hover::before {
  opacity: 100%;
}

.card-block:hover .hover-block {
  display: block;
}

.hover-block {
  width: 100%;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 44px;
  padding-left: 52px;
  padding-right: 53px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--basic-light-grey);
  font-size: 16px;
  font-weight: 400;
  display: none;
}

.hover-block .caption {
  text-align: center;
  margin-bottom: -4px;
}

.hover-block .caption:hover {
  color: var(--basic-orange);
}

.hover-block .caption:active {
  color: rgba(0, 0, 0, 0.3);
}

.hover-block p {
  width: 255px;
  color: var(--basic-dark-grey);
  text-align: center;
  margin-bottom: 34px;
  min-height: 37px;
  overflow-y: auto;
  overflow-x: hidden;
}


.btn-buy {
  background-color: var(--basic-orange);
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  display: block;
  width: 200px;
  margin: 0 auto;
  font-weight: 500;
}

.btn-buy:hover {
  background-color: var(--basic-red);
}

.btn-buy:active {
  background-color: var(--basic-cherry);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 11px;
  width: 443px;
  justify-self: start;

  padding-left: 0;
  margin-top: 53px;
  margin-bottom: 60px;
}

.btn-pagination {
  background-color: var(--basic-light-grey);
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--basic-black);
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}

li:last-child .btn-pagination {
  padding-left: 78px;
  padding-right: 77px;
}

.btn-pagination:hover {
  background-color: var(--btn-show-hover);
}

.btn-pagination:active {
  background-color: var(--btn-show-active);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-active {
  background-color: var(--basic-white);
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  border: 3px solid var(--btn-active-grey);
}

.btn-down,
.btn-up {
  background: none;
  padding: 0;
  margin-left: 18px;
}

.btn-down:hover path,
.btn-up:hover path {
  fill: rgba(166, 166, 166, 1);
}

.btn-down:active path,
.btn-up:active path,
.arrow-active-btn path {
  fill: var(--btn-up-down-active);
}

.catalog-body .main-footer {
  margin-top: 0;
}

